.Navigation {
  .BrandWrapper {
    margin-left: 0.5rem;
    // Might make this the inverted IO on small devices...
    background: url('../../../images/tournio-logo-inverted.png') no-repeat left center;
    background-size: contain;
    .Brand {
      margin: 0;
      padding: 0;
    }
  }
  .navbar {
    //--tournio-navbar-color: var(--tournio-body-color);
    //--tournio-navbar-hover-color: rgba(var(--tournio-body-color), .75);
  }
  @media (prefers-color-scheme: dark) {
    //.navbar {
    //  --tournio-navbar-color: var(--tournio-body-color);
    //  --tournio-navbar-hover-color: rgba(var(--tournio-body-color), .75);
    //}
  }

  //@media (min-width: 768px) {
  //  .BrandWrapper {
  //    background: url('../../../images/tournio-logo-inverted.png') no-repeat left center;
  //    background-size: contain;
  //    .Brand {
  //      margin: 0;
  //      padding: 0;
  //    }
  //  }
  //}
}