.MultiUseItem {
  background-color: var(--tournio-body-bg);
  p {
    margin: 0.5rem auto;
  }
  .IncreaseLink {
    font-size: 1.75rem;
  }
  .DecreaseLink {
    font-size: 1.75rem;
  }
  .Sticky {
    background-color: var(--tournio-gray-900);
  }
  .Note {
    font-size: 90%;
  }
}
@media (prefers-color-scheme: dark) {
  .MultiUseItem {
    .Sticky {
      background-color: var(--tournio-gray-200);
    }
  }
}
