.Cart {
  .ItemList {

  }
  .EmptyItemList {
    background-color: var(--tournio-gray-100);
  }
  @media (prefers-color-scheme: dark) {
    .EmptyItemList {
      background-color: var(--tournio-body-bg);
    }
  }
  .TotalFees {
    text-align: right;
    font-size: 120%;
  }
  @media (max-width: 767px) {
    h4 {
      background-color: var(--tournio-gray-200);
      padding-left: 0.5rem;
      margin-bottom: 1rem;
    }
    @media (prefers-color-scheme: dark) {
      h4 {
        background-color: var(--tournio-body-bg);
      }
    }
  }
  @media (min-width: 768px) {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
}