.Input {
  .Label {

  }

  .RequiredLabel {
    margin-left: 5px;
    color: var(--tournio-danger);
    font-size: 60%;
  }

  .InputElement {

  }

  .InvalidFeedback {
    margin-left: 5px;
  }

  .ExternalLink {
    font-size: 80%;
  }
}