.Item {
  p {
    margin: 0.5rem auto;
  }

  .AddLink {
    font-size: 1.75rem;
  }

  .Name {
    font-size: 120%;
  }

  .Note {
    font-size: 90%;
  }
}

.Selected {
  background-color: #cacaca;
}

.NotSelected:hover {
  background-color: #f3f3f3;
}

@media (prefers-color-scheme: dark) {
  .Selected {
    background-color: var(--tournio-gray-700);
  }

  .NotSelected:hover {
    background-color: var(--tournio-gray-900);
  }
}
