// default variable overrides here

$blue: #1f60c2;
$green: #40824c;
$cyan: #68d3e8;
$red: #bf2e3c;

$tournio-dark-red: #fa4658;
$tournio-dark-blue: #5398ff;
$tournio-dark-indigo: #af85f4;
$tournio-dark-purple: #a77df4;
$tournio-dark-pink: #e08eb7;
$tournio-dark-orange: #fba155;
$tournio-dark-yellow: #f7ea1e;
$tournio-dark-green: #6dc87d;
$tournio-dark-teal: #37e3b0;
$tournio-dark-cyan: #23a0b9;

$component-active-bg: #adb5bd;

$accordion-button-active-color: #333;

$form-check-input-checked-bg-color: $blue;

$variable-prefix: tournio-;

$font-family-sans-serif:
  "Plus Jakarta Sans",
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  Roboto,
  "Helvetica Neue",
  Arial,
  sans-serif,
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Segoe UI Symbol";

@import '../../node_modules/bootstrap/scss/bootstrap.scss';
