
// Our stuff


html {
  font-size: 1rem;
}

.line {
  display: block;
}

@media (prefers-color-scheme: dark) {
  .card {
    background-color: var(--tournio-gray-900);
  }

  .invalid-feedback {
    color: var(--tournio-danger);
  }

  .was-validated .form-control {
     &:invalid {
       border-color: var(--tournio-danger);
     }
   }
}
