:root {
  --tournio-primary: #1f60c2;
  --tournio-cyan: #68d3e8;
  --tournio-red: #bf2e3c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --tournio-body-bg: #121212;
    --tournio-body-color: #e1e2e4;
    --tournio-primary: #2a79ef;
  }
}

html {
  font-size: 1rem;
}

.line {
  display: block;
}

.form-check-input:checked {
  background-color: var(--tournio-primary);
}