// default variable overrides here

$component-active-bg: #adb5bd;
$accordion-button-active-color: #333;

$variable-prefix: tournio-;

$font-family-sans-serif:
  "Plus Jakarta Sans",
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  Roboto,
  "Helvetica Neue",
  Arial,
  sans-serif,
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Segoe UI Symbol";

@import '../../node_modules/bootstrap/scss/bootstrap.scss';
